@model IEnumerable<FL_App.Models.FacebookFriendsViewModel>

@{
    ViewBag.Title = "FacebookFriends";
}

<h2>FacebookFriends</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
    </tr>
}

</table>
